.ddev
.vscode
.env
.htaccess
config
ecrire
IMG
local
plugins/auto/
plugins-dist
/prive/
squelettes-dist
tmp
/composer.*
htaccess.txt
LICENSE
/*.json
/*.php
/*.md
/spip.*
vendor/
dump/
TMP_SPIP_3
.env
helm/custom.yaml
