<?xml version="1.0"?>
<ruleset>
    <file>formulaires</file>
    <file>inc</file>

    <rule ref="SPIP41"/>
    <rule ref="PSR1"/>

    <config name="ignore_warnings_on_exit" value="1"/>
    <arg name="cache" value=".php_cs.cache"/>
    <arg name="report-full" value=".php_cs.txt"/>
    <arg name="report-summary"/>
    <arg value="s"/>
</ruleset>
